# build directory
BUILD/
RPMS/
SOURCES/
SPECS/
disk1/
kepler*.iso
.rpmmacros
*.pyc
_os
_arch
_distribution
bootstrap.py

# ignore version.mk
rocks-version.mk
rocks-version-common.mk

# ignore python.mk
python.mk

# ignore Rules files
Rules-install.mk
Rules-*.mk
Rules.mk
Rolls.mk
roll*.spec*
roll-*.xml
roll-*.mk

# ignore binarires
src/kepler/Kepler-*.gz
src/jre/jre*.rpm

